/* CSS Document */

.container {
	max-width: 1000px;
}

.videoWrapper {
	position:relative;
	padding-bottom:56.25%;
	padding-top:0px;
	height:0;
	overflow:hidden;
}
.videoWrapper iframe , .videoWrapper object, .videoWrapper embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100px;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.panelnoborder {
    border: 0;
}

h1 {
	font:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	margin-top:7px;
	margin-bottom:7px;
	color:#383838;
}

/* on both */
html, body {
  overflow-x: hidden;
}

fixed-button {
    position: fixed;
    bottom: 0;
    right: 0;
}

#historybanner {
	background-image: url(img\hispageheaders\historybanner.png);  
	background-size: cover; 
	background-position: center; 
	height: 200px
}

ul,li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0; 
}

.textbox {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    line-height: 90px;
    z-index: 99;
    width: 100%;
    height: 7.5rem;
    text-align: center;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
    background-color: #3d8b40
}

.textbox#staff {
    background-color: #8b3d4c
}

.textbox#flexfriday {
    background-color: #3d618b
}

.textbox a:hover {
    text-decoration: none
}

.textbox p {
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 6rem;
    padding-top: 5px;
    color: #ffffff;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    line-height: 100%;
}

.panel-footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding-top: 10px;
}

.dashpanel {
    height: 250px;
}

.btn-ic {
  color: #fff;
  background-color: #72BB44;
  border-color: #66a73d;
  height:4em;
}
.btn-ic:hover,
.btn-ic:focus,
.btn-ic.focus,
.btn-ic:active,
.btn-ic.active,
.open > .dropdown-toggle.btn-ic {
  color: #fff;
  background-color: #66a73d;
}
.btn-ic:active,
.btn-ic.active,
.open > .dropdown-toggle.btn-ic {
  background-image: none;
}
.btn-ic.disabled,
.btn-ic[disabled],
fieldset[disabled] .btn-ic,
.btn-ic.disabled:hover,
.btn-ic[disabled]:hover,
fieldset[disabled] .btn-ic:hover,
.btn-ic.disabled:focus,
.btn-ic[disabled]:focus,
fieldset[disabled] .btn-ic:focus,
.btn-ic.disabled.focus,
.btn-ic[disabled].focus,
fieldset[disabled] .btn-ic.focus,
.btn-ic.disabled:active,
.btn-ic[disabled]:active,
fieldset[disabled] .btn-ic:active,
.btn-ic.disabled.active,
.btn-ic[disabled].active,
fieldset[disabled] .btn-ic.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-ic .badge {
  color: #5cb85c;
  background-color: #fff;
}

.btn-gc {
  color: #fff;
  background-color: #1AA15F;
  border-color: #14884f;
  height:4em;
}
.btn-gc:hover,
.btn-gc:focus,
.btn-gc.focus,
.btn-gc:active,
.btn-gc.active,
.open > .dropdown-toggle.btn-gc {
  color: #fff;
  background-color: #14884f;
}
.btn-gc:active,
.btn-gc.active,
.open > .dropdown-toggle.btn-gc {
  background-image: none;
}
.btn-gc.disabled,
.btn-gc[disabled],
fieldset[disabled] .btn-gc,
.btn-gc.disabled:hover,
.btn-gc[disabled]:hover,
fieldset[disabled] .btn-gc:hover,
.btn-gc.disabled:focus,
.btn-gc[disabled]:focus,
fieldset[disabled] .btn-gc:focus,
.btn-gc.disabled.focus,
.btn-gc[disabled].focus,
fieldset[disabled] .btn-gc.focus,
.btn-gc.disabled:active,
.btn-gc[disabled]:active,
fieldset[disabled] .btn-gc:active,
.btn-gc.disabled.active,
.btn-gc[disabled].active,
fieldset[disabled] .btn-gc.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-gc .badge {
  color: #5cb85c;
  background-color: #fff;
}

h1#dashheader {
    font-size: 2em;
    color: #FFFFFF
}

.form-control#box {
    padding: 1px 4px;
    font-size: 1em;
}

.form-control#searchdash {
    padding: 1px 4px;
    font-size: 2em;
}

.col-lg-6#nopad {
    padding: 0 0 0 0;
}

.panel-heading a {
    color: #5F5F5F;
}

.panel-heading a#popout {
    color: #fff;
}

.btn-gm {
  color: #fff;
  background-color: #E75A4D;
  border-color: #E75A4D;
  height:4em;
}
.btn-gm:hover,
.btn-gm:focus,
.btn-gm.focus,
.btn-gm:active,
.btn-gm.active,
.open > .dropdown-toggle.btn-gm {
  color: #fff;
  background-color: #c3473b;
}
.btn-gm:active,
.btn-gm.active,
.open > .dropdown-toggle.btn-gm {
  background-image: none;
}
.btn-gm.disabled,
.btn-gm[disabled],
fieldset[disabled] .btn-gm,
.btn-gm.disabled:hover,
.btn-gm[disabled]:hover,
fieldset[disabled] .btn-gm:hover,
.btn-gm.disabled:focus,
.btn-gm[disabled]:focus,
fieldset[disabled] .btn-gm:focus,
.btn-gm.disabled.focus,
.btn-gm[disabled].focus,
fieldset[disabled] .btn-gm.focus,
.btn-gm.disabled:active,
.btn-gm[disabled]:active,
fieldset[disabled] .btn-gm:active,
.btn-gm.disabled.active,
.btn-gm[disabled].active,
fieldset[disabled] .btn-gm.active {
  background-color: #c3473b;
  border-color: #E75A4D;
}
.btn-gm .badge {
  color: #c3473b;
  background-color: #fff;
}

.appbutton {
    display:inline-block; 
    margin-right:1em; 
    margin-bottom:1em;
}

.accordion {
  color: #5F5F5F !important;
}

white {
    color: white;
}

.image {
    height: 17em;
    background-position: bottom;
    background-size: cover;
}

.slideimage {
    height: 500px;
    background-position: bottom;
    background-size: cover;
}

.centerednav {
    max-width: 1920;
    margin: 0 auto !important;
    float: none !important;
}