/* CSS Document */
p {
    font-size: 17px;
    font-family: 'Roboto', sans-serif!important;
}

.hyphenate {
 -ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

.container {
    max-width: 1000px;
}

.videoWrapper {
    position:relative;
    padding-bottom:56.25%;
    padding-top:0px;
    height:0;
    overflow:hidden;
}
.videoWrapper iframe , .videoWrapper object, .videoWrapper embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100px;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.panelnoborder {
    border: 0;
}

h1 {
    font:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    margin-top:7px;
    margin-bottom:7px;
    color:#383838;
}

/* on both */
html, body {
  overflow-x: hidden;
}

fixed-button {
    position: fixed;
    bottom: 0;
    right: 0;
}

#historybanner {
    background-image: url(img\hispageheaders\historybanner.png);
    background-size: cover;
    background-position: center;
    height: 200px
}

ul,li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0;
}

.textbox {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    font-size: 3.5vw;
    border-color: white;
    border: 4px;
    border-radius: 5px;
    color: whitesmoke;
    text-decoration: none;
    z-index: 99;
    width: 25vw;
    height: 4vw;
    padding: 0;
    text-align: center;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
    opacity: 1;
    transition: all .2s ease-in-out;
    background-color: rgba(61, 139, 64, 0.87)
}

.textbox#staff {
    width: 25vw !important;
    background-color: rgba(139, 61, 76, 0.87)
}

.textbox#flexfriday {
    width: 40vw !important;
    background-color: rgba(61, 97, 139, 0.87)
}

.textbox a:hover {
    text-decoration: none;

}

.textbox:hover {
    transform: scale(1.2);
}

/*
.textbox:hover{
    opacity: 1;
    line-height: 1.1;
    height: 8vw;
    width: 65vw;
    border: 2px;
    text-decoration: none;
}*/

.textbox:hover + #moreinfo{
    opacity: 1;
}

#moreinfo{
    opacity: 0;
    position: relative;
}

.textbox p {
    display: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    padding-top: 5px;
    color: #ffffff;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    line-height: 100%;
}

.textbox p:hover {
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    padding-top: 5px;
    color: #ffffff;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    line-height: 100%;
}

.panel-footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding-top: 10px;
}

.dashpanel {
    height: 250px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.scroll-y {
    overflow-y: scroll;
}

.btn-ic {
  color: #fff;
  background-color: #72BB44;
  border-color: #66a73d;
  height:4em;
}
.btn-ic:hover,
.btn-ic:focus,
.btn-ic.focus,
.btn-ic:active,
.btn-ic.active,
.open > .dropdown-toggle.btn-ic {
  color: #fff;
  background-color: #66a73d;
}
.btn-ic:active,
.btn-ic.active,
.open > .dropdown-toggle.btn-ic {
  background-image: none;
}
.btn-ic.disabled,
.btn-ic[disabled],
fieldset[disabled] .btn-ic,
.btn-ic.disabled:hover,
.btn-ic[disabled]:hover,
fieldset[disabled] .btn-ic:hover,
.btn-ic.disabled:focus,
.btn-ic[disabled]:focus,
fieldset[disabled] .btn-ic:focus,
.btn-ic.disabled.focus,
.btn-ic[disabled].focus,
fieldset[disabled] .btn-ic.focus,
.btn-ic.disabled:active,
.btn-ic[disabled]:active,
fieldset[disabled] .btn-ic:active,
.btn-ic.disabled.active,
.btn-ic[disabled].active,
fieldset[disabled] .btn-ic.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-ic .badge {
  color: #5cb85c;
  background-color: #fff;
}

.btn-gc {
  color: #fff;
  background-color: #1AA15F;
  border-color: #14884f;
  height:4em;
}
.btn-gc:hover,
.btn-gc:focus,
.btn-gc.focus,
.btn-gc:active,
.btn-gc.active,
.open > .dropdown-toggle.btn-gc {
  color: #fff;
  background-color: #14884f;
}
.btn-gc:active,
.btn-gc.active,
.open > .dropdown-toggle.btn-gc {
  background-image: none;
}
.btn-gc.disabled,
.btn-gc[disabled],
fieldset[disabled] .btn-gc,
.btn-gc.disabled:hover,
.btn-gc[disabled]:hover,
fieldset[disabled] .btn-gc:hover,
.btn-gc.disabled:focus,
.btn-gc[disabled]:focus,
fieldset[disabled] .btn-gc:focus,
.btn-gc.disabled.focus,
.btn-gc[disabled].focus,
fieldset[disabled] .btn-gc.focus,
.btn-gc.disabled:active,
.btn-gc[disabled]:active,
fieldset[disabled] .btn-gc:active,
.btn-gc.disabled.active,
.btn-gc[disabled].active,
fieldset[disabled] .btn-gc.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-gc .badge {
  color: #5cb85c;
  background-color: #fff;
}

h1#dashheader {
    font-size: 2em;
    color: #FFFFFF
}

.form-control#box {
    padding-left: 10px;
    font-size: 1em;
}

.form-control#searchdash {
    padding: 1px 4px;
    font-size: 2em;
}

.col-lg-6#nopad {
    padding: 0 0 0 0;
}

.panel-heading a {
    color: #5F5F5F;
}

.panel-heading a#popout {
    color: #fff;
}

.btn-gm {
  color: #fff;
  background-color: #E75A4D;
  border-color: #E75A4D;
  height:4em;
}
.btn-gm:hover,
.btn-gm:focus,
.btn-gm.focus,
.btn-gm:active,
.btn-gm.active,
.open > .dropdown-toggle.btn-gm {
  color: #fff;
  background-color: #c3473b;
}
.btn-gm:active,
.btn-gm.active,
.open > .dropdown-toggle.btn-gm {
  background-image: none;
}
.btn-gm.disabled,
.btn-gm[disabled],
fieldset[disabled] .btn-gm,
.btn-gm.disabled:hover,
.btn-gm[disabled]:hover,
fieldset[disabled] .btn-gm:hover,
.btn-gm.disabled:focus,
.btn-gm[disabled]:focus,
fieldset[disabled] .btn-gm:focus,
.btn-gm.disabled.focus,
.btn-gm[disabled].focus,
fieldset[disabled] .btn-gm.focus,
.btn-gm.disabled:active,
.btn-gm[disabled]:active,
fieldset[disabled] .btn-gm:active,
.btn-gm.disabled.active,
.btn-gm[disabled].active,
fieldset[disabled] .btn-gm.active {
  background-color: #c3473b;
  border-color: #E75A4D;
}
.btn-gm .badge {
  color: #c3473b;
  background-color: #fff;
}

.appbutton {
    display:inline-block;
    margin-right:1em;
    margin-bottom:1em;
}

.accordion {
  color: #5F5F5F !important;
}

white {
    color: white;
}

.image {
    height: 17em;
    background-position: bottom;
    background-size: cover;
}

.tall-image {
    height: 25em;
    background-position: bottom;
    background-size: cover;
}

.body-image {
    position : relative;

    height : 50vh;

    text-indent : -9999px;

    background-attachment : fixed;
    background-position   : top center;
    background-size       : cover;
}

.slideimage {
    height: 20vw;
    max-height: 800px;
    background-position: bottom;
    background-size: cover;
}

.responsiveimage {
    height: 200px;
    background-position: bottom;
    background-size: cover;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

.card-image .responsiveimage:hover {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2); /* IE 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.2, SizingMethod='auto expand')"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.2, SizingMethod='auto expand'); /* IE6 and 7 */ 
}

.centerednav {
    max-width: 1920px;
    margin: 0 auto !important;
    float: none !important;
}

.centereddiv {
    max-width: 500px;
    padding: 10px;
    margin: 0 auto !important;
    float: none !important;
}

.centeredtext {
    max-width: 800px;
    padding: 10px;
    margin: 0 auto !important;
    float: none !important;
}

.centered900 {
    max-width: 900px;
    padding: 10px;
    margin: 0 auto !important;
    float: none !important;
}

.centered1000 {
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto !important;
    float: none !important;
}

.facmax {
    max-width: 1490px;
}

.snaptop {
    position:fixed;
    bottom:75px;
    right:10px;
    margin-left:auto;
    margin-right:auto;
    z-index:99;
    transition: transform .2s ease-in-out;
}

.snaptop:hover {
    transform: scale(1.1);
}

.header-unit {
  height: 230px;
  width: 100%;
  border-right:none;
  border-left: none;
  position: relative;
  bottom: 30px;
  padding: 0px;
}

#video-container {
    position: absolute;
}

#video-container {
    top:0%;
    left:0%;
    height:100%;
    width:100%;
    overflow: hidden;
}

video {
    position:absolute;
    z-index:0;
}

video.fillWidth {
    width: 100%;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important; /* Override the font-size specified earlier (36px) for all navigation links */
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .closebtn {
        font-size: 40px !important;
        top: 15px;
        right: 35px;
    }
}

.inlineblockeroo {
    white-space: nowrap; /* this does the trick */    
    display: inline-block;
}

.curious {
    transition: all 0.2s ease;
    opacity: 1;
    height:28vh;
    max-height: 300px;
    width: inherit;
    margin: auto 10px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    /*glow*/
    -moz-box-shadow: 0 0 0px #fff;
    -webkit-box-shadow: 0 0 0px #fff;
    box-shadow: 0px 0px 0px #fff;
}

.curious:hover {
    /*opacity: 1;
    -moz-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);*/
    transform: scale(1.05);
}

.baxelements {
    
    opacity: 1;
    height:24vh;
    margin: -5px 3px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    /*glow*/
    -moz-box-shadow: 0 0 0px #fff;
    -webkit-box-shadow: 0 0 0px #fff;
    box-shadow: 0px 0px 0px #fff;
}

/*.baxelements:hover {*/
    /*opacity: 1;
    -moz-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);*/
    /*transform: scale(0.9);*/
/*}*/

melement {
    width: 15rem;
    opacity: 0.8;
}

melement:hover {
    opacity: 1;
}

.bluething {
    background-color: #1c6ac4
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 2em;
    font-weight: 300;
    text-decoration: none !important;
}
@media screen and (max-width: 963px) {
.card span.card-title {
        font-size: 1.5em;
    }
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
  text-decoration: none !important;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
  color: black;
  text-decoration: none !important;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-decoration: none;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none !important;
}

.card {
    opacity: 1; /* css standard */
    /*filter: alpha(opacity=90); /* internet explorer */
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.card:hover {
    opacity: 0.7; /* css standard */
    /*filter: alpha(opacity=100); /* internet explorer */
    text-decoration: none !important;
}

.noDecoration, a:link, a:visited {
    text-decoration: none;
}

#container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50px;
  width: 100px;
}

#video-viewport {
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 100; /* for accessing the video by click */
}

.aboutbutton {
    background-color: rgba(76, 175, 80, 0.74); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5em;
    transition: all 0.3s ease 0s;
}

.aboutbutton:hover {
    background-color: rgba(255, 0, 0, 0.67) /* Green */
}

#googlemaps {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
}

#contactform {
  z-index: 1; /* The z-index should be higher than Google Maps */
}

@media screen and (max-width: 1235px) {
.sitesearchhide{
        display: none;
    }
}

#custom-search-form {
    margin:0;
    margin-top: 8px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 1px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.homeheader {
    opacity: 1;
}

.homeheader:hover {
    opacity: 0.8;
}

.search-query:focus + button {
    z-index: 3;
}

.top5 {
    margin-top:5px
}

#slide_background {
  transition: all 0.3s 0.3s;
}
#slide,
#slide_wrapper {
  transition: all 0.3s ease-out;
}
#slide {
  transform: translateX(0) translateY(-40%);
}
.popup_visible #slide {
  transform: translateX(0) translateY(0);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 /*6px 6px 6px*/;
    -moz-border-radius: 0 /*6px 6px*/;
    border-radius: 0 /*6px 6px 6px*/;
}

.dropdown-submenu:target>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.plopper {
    display: inline-block;
}